@import "tailwindcss";
@plugin "../../hero.mjs";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #ffffff;
  --foreground: #141414;
  --color-chrome: #2196f3;
  --color-safari: #ff9800;
  --color-firefox: #9c27b0;
  --color-edge: #607d8b;
  --color-other: #795548;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
